* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.login-form {
	/* width: 350px; */
    width: 100%;
	margin: auto;
	font-size: 17px;
	padding: 20px 30px;
	border-radius: 10px;
	box-shadow: 0 0 4px #888888;
}
.login-form form label {
	color: rgb(41, 41, 41);
	font-weight: bold;
}
.login-form form h2 {
	color: rgb(41, 41, 41);
	text-align: center;
	padding-bottom: 35px;
}
.login-form form input {
	display: block;
	padding: 12px 20px;
	width: 100%;
	font-size: 14px;
	border-radius: 30px;
	border: 1px solid gray;
	outline: none;
	margin-bottom: 25px;
}
.login-form form button{
	background-color: #ff4d4d;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	border-radius: 30px;
	width: 100%;
}
.login-form form button:hover {
	opacity: 0.8;
}
.login-form form p {
	text-align: center;
	margin-top: 30px;
	color: gray;
}
.login-form form .signup-link {
	text-align: center;
	color: rgb(38, 100, 124);
}
.login-form form .profile-image{
	border: none;
}
