<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../static/css/message.css">
</head>
<body>
	<header>
		<nav>
			<a href="">Home</a>
			<a href="">Sign in</a>
			<a href="">SignUp</a>
			<a href="">Policies</a>
		</nav>
	</header>
	<div class="container">
	  <div class="messages">
	    <ul>
	      <li class="message from">
	        <div class="avatar">
	          <img src="../data/amantamta.135x180.jpg" width="50px" height="50px" alt="Avatar">
	        </div>
	        <div class="message-body">
	          <p>Hello, how are you doing today?</p>
	        </div>
	      </li>
	      <li class="message to">
	        <div class="avatar">
	          <img src="../data/avatar_girl2.jpg" width="50px" height="50px" alt="Avatar">
	        </div>
	        <div class="message-body">
	          <p>Hi there, I'm doing pretty well. How about you?</p>
	        </div>
	      </li>
	      <li class="message from">
	        <div class="avatar">
	          <img src="../data/amantamta.135x180.jpg" width="50px" height="50px" alt="Avatar">
	        </div>
	        <div class="message-body">
	          <p>Hello, how are you doing today?</p>
	        </div>
	      </li>

	      <li class="message to">
	        <div class="avatar">
	          <img src="../data/avatar_girl2.jpg" width="50px" height="50px" alt="Avatar">
	        </div>
	        <div class="message-body">
	          <p>Hi there, I'm doing pretty well. How about you?</p>
	        </div>
	      </li>
	      <li class="message to">
	        <div class="avatar">
	          <img src="../data/avatar_girl2.jpg" width="50px" height="50px" alt="Avatar">
	        </div>
	        <div class="message-body">
	          <p>Hi there, I'm doing pretty well. How about you?</p>
	        </div>
	      </li>
	    </ul>
	  </div>
	  <form class="message-form">
	    <input type="text" placeholder="Type your message here...">
	    <button type="submit">Send</button>
	  </form>
	</div>

</body>
</html>