<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/user_list.css">
    <title>Document</title>
</head>
<body>
    <header>
		<nav>
			<a href="">Home</a>
			<a href="">Sign in</a>
			<a href="">SignUp</a>
			<a href="">Policies</a>
		</nav>
	</header>
    <div class="container">
        <div class="user-card">
            <img src="../data/avatar_girl2.jpg" alt="">
            <h3>Alishia Jonatan</h3>
            <p>Age: 25</p>
            <p class="address">City: NewYork</p>
            <span class="badge">3</span>
        </div>
        <div class="user-card">
            <img src="../data/avatar_girl2.jpg" alt="">
            <h3>Alishia Jonatan</h3>
            <p>Age: 25</p>
            <p class="address">City: NewYork</p>
            <span class="badge">3</span>
        </div>
        <div class="user-card">
            <img src="../data/avatar_girl2.jpg" alt="">
            <h3>Alishia Jonatan</h3>
            <p>Age: 25</p>
            <p class="address">City: NewYork</p>
            <span class="badge">3</span>
        </div>
    </div>
</body>
</html>